    <footer>
            <div class="address-container">
                <div class="vcard">
                    <a class="fn org url" href="http://www.realise.com/" hidden>Realise Ltd</a>
                    <h3>London</h3>
                    <p class="adr">
                        <span class="type" hidden>Work</span>
                        <span class="extended-address">Cordy House</span>
                        <span class="street-address">91 Curtain Road</span>
                        <span class="wrapper">
                            <span class="locality">London</span>, 
                            <span class="postal-code">EC2A 3BS</span>
                        </span>
                        <span class="country-name" hidden>United Kingdom</span>
                    </p>
                    <p class="tel">
                        +44 (0) 207 749 3600
                    </p>
                    <p class="email">
                        <a href="mailto:hello@realise.com">hello@realise.com</a>
                    </p>
                </div>
                <div class="vcard">
                    <a class="fn org url" href="http://www.realise.com/" hidden>Realise Ltd</a>
                    <h3>Edinburgh</h3>
                    <p class="adr">
                        <span class="type" hidden>Work</span>
                        <span class="extended-address">Quay House</span>
                        <span class="street-address">142 Commercial Street</span>
                        <span class="wrapper">
                            <span class="locality">Edinburgh</span>,
                            <span class="postal-code">EH6 6LB</span>
                        </span>
                        <span class="country-name" hidden>United Kingdom</span>
                    </p>
                    <p class="tel">
                        +44 (0) 131 476 6000
                    </p>
                    <p class="email">
                        <a href="mailto:hello@realise.com">hello@realise.com</a>
                    </p>
                </div>
            </div>
            <h2 class="logo-st-ives"><a href="http://www.st-ives.co.uk/" target="_blank">St Ives Group</a></h2>
            <nav>
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Nominet</a></li>
                </ul>
            </nav>
        </footer>