    <footer>
            <div class="address-container">
                <div class="vcard">
                    <a class="fn org url" href="http://www.realise.com/" hidden>Realise Ltd</a>
                    <h3>London</h3>
                    <p class="adr">
                        <span class="type" hidden>Work</span>
                        <span class="extended-address">Cordy House</span>
                        <span class="street-address">91 Curtain Road</span>
                        <span class="locality">London, </span>
                        <span class="postal-code">EC2A 3BS</span>
                        <span class="country-name" hidden>United Kingdom</span>
                    </p>
                    <p class="tel">
                        +44 (0) 207 749 3600
                    </p>
                    <p class="email">
                        hello@realise.com
                    </p>
                </div>
                <div class="vcard">
                    <a class="fn org url" href="http://www.realise.com/" hidden>Realise Ltd</a>
                    <h3>Edinburgh</h3>
                    <p class="adr">
                        <span class="type" hidden>Work</span>
                        <span class="extended-address">Quay House</span>
                        <span class="street-address">142 Commercial Street</span>
                        <span class="locality">Edinburgh, </span> 
                        <span class="postal-code">EH6 6LB</span>
                        <span class="country-name" hidden>United Kingdom</span>
                    </p>
                    <p class="tel">
                        +44 (0) 131 476 6000
                    </p>
                    <p class="email">
                        hello@realise.com
                    </p>
                </div>
            </div>
        </footer>