<div class="leadership-team">
    	<h2>Leadership team</h2>
{% for member in site.data.team %}
	    <div class="member {{ member.firstName | downcase }}-{{ member.lastName | downcase }}">
	        <h3><a href="{{ member.linkedin }}" target="_blank" title="Connect with {{ member.firstName }} on LinkedIn">{{ member.firstName }} {{ member.lastName }}</a></h3>
	        <p>{{ member.title }}</p>
	        <p>{{ member.subtitle }}{% if member.subtitle == null %}&nbsp;{% endif %}</p>
	    </div>
{% endfor %}
	</div>