/*
======
Styling some general content
======
*/

body {
	-webkit-font-smoothing: antialiased;
}
main {
	.container {
		max-width: 1080px;
		margin: 0 auto;
		padding: 90px 30px;
		text-align: center;
	}
	h2 {
		font-size: 1.8rem;
		line-height: 1.8rem;
		margin: 5px 0 20px 0;
		color: #1c1c1c;
		text-transform: uppercase;
	}
	p {
		font-size: 0.9rem;
	}
}