/*
======
Core Services are used on the about page and consist of a row of 4 on desktop, stacking on mobile
======
*/

.core-services {
    margin-top: 105px;
    overflow: auto;
    h2 {
        margin-bottom: 37px;
    }
    .service {
        float: left;
        width: 25%;
        padding: 0 10px;
        h3 {
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 1.125rem;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #1f1f1f;
            margin: 0 0 13px 0;
            padding-top: 227px;
            background-image: url("/img/icon-sprite.png");
            background-size: 229px;
        }
        ul {
            list-style: none;
            li {
                list-style: none;
                font-size: 0.9375rem;
                line-height: 1.5rem;
                letter-spacing: 0.3px;
            }
        }
        &.strategy h3 { background-position: center -233px; }
        &.technology h3 { background-position: center 0; }
        &.creative h3 { background-position: center -698px; }
        &.production h3 { background-position: center -466px; }
    }
}