/*
======
Core Services are used on the about page and consist of a row of 4 on desktop, stacking on mobile
======
*/

.core-services {
    margin-top: 100px;
    overflow: auto;
    h2 {
        margin-bottom: 40px;
    }
    .service {
        float: left;
        width: 25%;
        padding: 0 10px;
        h3 {
            font-size: 1.1rem;
            margin: 0 0 15px 0;
            padding-top: 220px;
            color: #1f1f1f;
            text-transform: uppercase;
            letter-spacing: 4px;
            background-position: top center;
            background-size: 100%;
        }
        ul {
            list-style: none;
            li {
                list-style: none;
                font-size: 0.9rem;
                line-height: 1.6rem;
            }
        }
        &.strategy h3 { background-image: url("/img/icon-strategy.jpg"); }
        &.technology h3 { background-image: url("/img/icon-technology.jpg"); }
        &.creative h3 { background-image: url("/img/icon-creative.jpg"); }
        &.production h3 { background-image: url("/img/icon-production.jpg"); }
    }
}