/*
======
The footer is a footer.
======
*/

footer {
    background: #201a16;
    .address-container {
        max-width: 1080px;
        margin: 0 auto;
        padding: 102px 30px 32px;
        text-align: center;
        overflow: auto;
        h3 {
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 1.125rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin: 0 0 15px 0;
        }
        .vcard {
            float: left;
            width: 50%;
            .extended-address,
            .street-address,
            .wrapper {
                display: block;
            }
            p {
                font-family: "Open Sans";
                font-size: 0.9375rem;
                line-height: 1.5rem;
                letter-spacing: 0.3px;
                color: #fff;
            }
        }
    }
    nav {
        padding: 34px 0 63px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                font-family: "Open Sans";
                font-size: 0.9375rem;
                line-height: 1.5rem;
                letter-spacing: 0.3px;
                a:link, a:visited {
                    display: inline-block;
                    margin: 0 2px;
                }
            }
        }
    }
    a:link, a:visited {
        color: #fff;
        line-height: 1.2rem;
        border-bottom: 1px solid #fff;
    }
    a:hover, a:focus {
        opacity: 0.75;
    }
}
.logo-st-ives {
    a:link, a:visited {
        display: block;
        width: 170px;
        height: 23px;
        margin: 0 auto;
        background-image: url("/img/logo-sprite.png");
        background-position: right 0;
        border-bottom: 0;
        text-indent: -100%;
    }
    a:hover, a:focus {
        opacity: 0.75;
    }
}