/*
======
The footer is a footer.
======
*/

footer {
    background: #201a16;
    .address-container {
        max-width: 1080px;
        margin: 0 auto;
        padding: 90px 30px 30px;
        text-align: center;
        overflow: auto;
        h3 {
            font-size: 1.1rem;
            margin: 0 0 15px 0;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        .vcard {
            float: left;
            width: 50%;
            .extended-address,
            .street-address,
            .wrapper {
                display: block;
            }
            p {
                font-size: 0.9rem;
                color: #fff;
            }
        }
    }
    a:link, a:visited {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    a:hover, a:focus {
        opacity: 0.75;
    }
}
.logo-st-ives {
    a:link, a:visited {
        display: block;
        width: 170px;
        height: 23px;
        margin: 0 auto;
        background-image: url("/img/logo-st-ives.png");
        border-bottom: 0;
        text-indent: -100%;
    }
    a:hover, a:focus {
        opacity: 0.75;
    }
}