/*
======
The footer is a footer.
======
*/

footer {
    background: #201a16;
    .address-container {
        max-width: 1080px;
        margin: 0 auto;
        padding: 90px 30px;
        text-align: center;
        overflow: auto;
        h3 {
            font-size: 1.1rem;
            margin: 0 0 15px 0;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        .vcard {
            float: left;
            width: 50%;
            .extended-address,
            .street-address,
            .locality,
            .postal-code {
                display: block;
            }
            p {
                font-size: 0.9rem;
                color: #fff;
            }
        }
    }
}