/*
======
Leadership team is on the about page and consist of a row of 3 people on desktop, stacking on mobile
======
*/

.leadership-team {
    overflow: auto;
    h2 {
        margin-bottom: 45px;
    }
    .member {
        float: left;
        width: 33%;
        padding: 0 10px;
        margin: 30px 0 20px;
        h3 {
            font-size: 0.9375rem;
            padding-top: 185px;
            color: rgba(31, 31, 31, 0.5);
            text-transform: uppercase;
            background-image: url("/img/team-sprite.png");
            a:link, a:visited {
                color: rgba(31, 31, 31, 0.5);
            }
            a:hover, a:focus {
                color: rgba(31, 31, 31, 1);
            }
        }
        &.tony-murphy h3 { background-position: center 0; }
        &.fiona-proudler h3 { background-position: center -210px; }
        &.karl-hampson h3 { background-position: center -420px; }
        &.jon-tonberg h3 { background-position: center -630px; }
        &.don-smith h3 { background-position: center -840px; }
        &.dave-ward h3 { background-position: center -1050px; }
        &.alec-bennett h3 { background-position: center -1260px; }
        &.dave-malins h3 { background-position: center -1470px; }
        &.greg-moss h3 { background-position: center -1680px; }
        &.matt-powell h3 { background-position: center -1890px; }
        &.james-kempster h3 { background-position: center -2100px; }
    }
}