/*
======
The navigation contains the logo together with the page links.
It becomes a fixed header at a certain point.
======
*/

header {
    position: relative;
    nav {
        position: absolute;
        width: 100%;
        padding: 0 20px;
        z-index: 1;
        &.sticky {
            background-color: rgba(32,26,22,.9);
        }
        ul {
            overflow: auto;
            float: right;
            li {
                float: left;
                a {
                    float: left;
                    margin: 18px 0 20px 12px;
                    padding: 14px 10px;
                    border: 2px solid transparent;
                    font-family: "Oswald";
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    transition: all 0.1s ease-in-out;
                    &.nav-contact {
                        border-color: #fff;
                        margin-left: 22px;
                        padding: 14px 25px;
                        &:hover, &:focus {
                            background-color: #fff;
                            color: rgba(32,26,22,.9);
                        }
                    }
                    &:link, &:visited {
                        color: rgba(255,255,255,1)
                    }
                    &:hover, &:focus {
                        color: rgba(255,255,255,0.5)
                    }
                }
            }
        }
    }
}
.logo-realise {
    a {
        float: left;
        width: 150px;
        height: 28px;
        padding: 46px 0;
        background-image: url("/img/logo-realise.png");
        background-position: center;
        background-size: 150px;
        text-indent: -100%;
    }
}